@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'DM Sans', sans-serif;
}

@layer components {
  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-6;
  }

  .section-subtitle {
    @apply text-bekno-gray text-lg mb-8;
  }
}
